---
---

@import "{{ site.theme }}";
#header_wrap {
  background: #000080;
  background: -moz-linear-gradient(top, #000080, #0000ff);
  background: -webkit-linear-gradient(top, #000080, #0000ff);
  background: -ms-linear-gradient(top, #000080, #0000ff);
  background: -o-linear-gradient(top, #000080, #0000ff);
  background: linear-gradient(top, #000080), #0000ff;
}

#project_title {
  text-align: center;
}

#footer_wrap {
  background: #000080;
  background: -moz-linear-gradient(bottom, #000080, #0000ff);
  background: -webkit-linear-gradient(bottom, #000080, #0000ff);
  background: -ms-linear-gradient(bottom, #000080, #0000ff);
  background: -o-linear-gradient(bottom, #000080, #0000ff);
  background: linear-gradient(bottom, #000080), #0000ff;
}
